body {
    background-color: black;
}

.page-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 800px;
}

.top-banner {
    background-image: url('../images/backgrounds/dark.jpg');
    margin-top: 50px;
    color: white;
    height: 50px;
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
}

.table-container {
    margin-top: 50px;
}

.container {
    margin-top: 50px;
    width: 600px;
    height: 700px;
    background-color: whitesmoke;
}

#row1, #row2{
    height: 200px;
    width: 800px;
    margin: 0 auto;
}

#colgreen {
    background-color: #11A355;
    height: 200px;
}

#colred {
        background-color: #ff4d4d;
       height: 200px;
}
#colblue {
    background-color: lightskyblue;
       height: 200px;
}
#colorange {
    background-color: orange;
    height: 200px;
}

#colyellow {
    background-color:  #ffff80;
    height: 200px;
}

#colpink {
    background-color: Pink;
    height: 200px;
}
#colpic {
    background-image: url('../images/profiles/profilmaria.png');
    height: 400px;
}

#timer {
    border: 1px solid black;
    height: 200px;
    margin: 0 auto;
    max-height: 50%;
    margin-top: 30%;
}

.days,.hours,.minutes,.seconds {
   
    background-color: grey;
    border: 1px solid black;
    font-size: 30px;
    margin-left: 3.5px;
  
}

.img-responsive {
    max-height: 50%;
    margin: 0 auto;
    margin-top: 30%;
    max-width: 100%
}

#row1-1 {
    width: 600px;
    height: 150px;
}
#col1 {
    background-color: lightgrey;
    height: 120px;
    width: 200px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
 
}

#address {
    font-size: 12px;
    margin-top: 18px;
    color: darkgrey;
}

#letter {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: lightgrey;
     font-size: 12px;
}