body {
    background-color: #B0B4B7;
}


.page-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.top-banner {
    background-image: url('../images/backgrounds/dark.jpg');
    margin-top: 50px;
    color: white;
    height: 50px;
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
}

.table-container {
    margin-top: 50px;
}

.container {
    margin-top: 50px;
    background-color: whitesmoke;
}
#colgreen {
    background-color: #11A355;
}

#colred {
        background-color: #ff4d4d;
}
#colblue {
    background-color: lightskyblue;
}
#colorange {
    background-color: orange;
}

#colyellow {
    background-color:  #ffff80;
}

#colpink {
    background-color: Pink;
}
#colpic {
    background-image: url('../images/profiles/profilmaria.png');
}

#timer {
    border: 1px solid black;
    margin: 0 auto;
    max-height: 50%;
    margin-top: 30%;
}

.days,.hours,.minutes,.seconds {
   
    background-color: grey;
    border: 1px solid black;
    font-size: 30px;
    margin-left: 3.5px;
}

.img-responsive {
    max-height: 50%;
    margin: 0 auto;
    margin-top: 30%;
    max-width: 100%
}

#col1 {
    background-color: lightgrey;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#address {
    font-size: 12px;
    margin-top: 18px;
    color: darkgrey;
}

#letter {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: lightgrey;
     font-size: 12px;
}
/*  GRID OF SIX   ============================================================================= */


.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%; 
	}
	.span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%; 
	}
}